[submodule "otter"]
	path = otter
	url = https://github.com/astro-otter/otter.git
	branch = main
[submodule "otterdb"]
	path = otterdb
	url = https://github.com/astro-otter/otterdb.git
	branch = main
[submodule "examples"]
	path = examples
	url = https://github.com/astro-otter/examples.git
	branch = main
[submodule "otter-web"]
	path = otter-web
	url = https://github.com/astro-otter/otter-web
